.content {
  grid-column: var(--content-column);
  grid-row: var(--content-row);
  background: orange;
}


@media (--xs-n-above) {
  .content {
    --content-column: var(--xs-column);
    --content-row: var(--xs-row);
  }
}

@media (--sm-n-above) {

  .content {
    --content-column:var(--sm-column, var(--xs-column));
    --content-row: var(--sm-row, var(--xs-row));
  }
}

@media (--md-n-above) {

  .content {
    --content-column: var(--md-column, var(--sm-column, var(--xs-column)));
    --content-row: var(--md-row, var(--sm-row, var(--xs-row)));
  }
}

@media (--lg-n-above) {

  .content {
    --content-column: var(--lg-column, var(--md-column, var(--sm-column, var(--xs-column))));
    --content-row: var(--lg-row, var(--md-row, var(--sm-row, var(--xs-row))));
  }
}

@media (--xl-n-above) {
  .content {
    --content-column: var(--xl-column, var(--lg-column, var(--md-column, var(--sm-column, var(--xs-column)))));
    --content-row: var(--xl-row, var(--lg-row, var(--md-row, var(--sm-row, var(--xs-row)))));
  }
}

@media (--xxl-n-above) {

  .content {
    --content-column: var(--xxl-column, var(--xl-column, var(--lg-column, var(--md-column, var(--sm-column, var(--xs-column))))));
    --content-row: var(--xxl-row, var(--xl-row, var(--lg-row, var(--md-row, var(--sm-row, var(--xs-row))))));
  }
}