.content {
  grid-column: var(--content-column);
  grid-row: var(--content-row);
  z-index: var(--layer-1);

}

.content>* {
  z-index: var(--layer-2);
}


.editing .content {
  &:empty {
    border: 2px dashed red;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: 'Empty Content Block';
      color: red;
    }
  }
}

@media (min-width: 240px) {
  .content {
    --content-column: var(--xs-column);
    --content-row: var(--xs-row);
  }
}

@media (min-width: 480px) {

  .content {
    --content-column: var(--sm-column, var(--xs-column));
    --content-row: var(--sm-row, var(--xs-row));
  }
}

@media (min-width: 768px) {

  .content {
    --content-column: var(--md-column, var(--sm-column, var(--xs-column)));
    --content-row: var(--md-row, var(--sm-row, var(--xs-row)));
  }
}

@media (min-width: 1024px) {

  .content {
    --content-column: var(--lg-column, var(--md-column, var(--sm-column, var(--xs-column))));
    --content-row: var(--lg-row, var(--md-row, var(--sm-row, var(--xs-row))));
  }
}

@media (min-width: 1440px) {
  .content {
    --content-column: var(--xl-column, var(--lg-column, var(--md-column, var(--sm-column, var(--xs-column)))));
    --content-row: var(--xl-row, var(--lg-row, var(--md-row, var(--sm-row, var(--xs-row)))));
  }
}

@media (min-width: 1920px) {

  .content {
    --content-column: var(--xxl-column, var(--xl-column, var(--lg-column, var(--md-column, var(--sm-column, var(--xs-column))))));
    --content-row: var(--xxl-row, var(--xl-row, var(--lg-row, var(--md-row, var(--sm-row, var(--xs-row))))));
  }
}