i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--icon-size) + 8px);
  height: calc(var(--icon-size) + 8px);

  & svg {
    width: var(--icon-size) !important;
    height: var(--icon-size) !important;
  }

  & svg > * {
    fill: currentColor !important;
  }

}