
i {
  content:attr(data-unicode);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'Icons';
  font-weight: 900;
  font-size:32px;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}