section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  --page-grid-template-columns: [left-gutter] var(--page-grid-gutter-x) [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col right-gutter] var(--page-grid-gutter-x);
  --page-grid--template-rows: [top-gutter] var(--page-grid-gutter-y) repeat(var(--page-grid-rows), [row] minmax(70px, calc(10vh - var(--page-grid-gap)))) [bottom-gutter] var(--page-grid-gutter-y);

  & .section-content {
    display: grid;
    position: relative;
    grid-template-columns: var(--page-grid-template-columns);
    grid-template-rows: var(--page-grid--template-rows);
    gap: var(--page-grid-gap);
    padding: calc(var(--page-grid-gap) / 2) 0;
    width: 100vw;

  }

  &>.sentinel-wrapper {
    position: absolute;
    width: 100vw;
    height: 0px;
    z-index: -999;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    & .sentinel {
      width: 100vw;
      height: calc(100vh - 2px);
    }

  }


  &section .content > *, &[data-visible="true"]  .content > *{
    content-visibility: visible;
  }

  &[data-visible="false"] .content > *  {
    content-visibility: hidden;
  }


}


.editing section .section-content {
  &:before {
    content: "";
    grid-column: col 1 / span 12;
    grid-row: row 1 / -2;
    border: dashed 1px gray;
    z-index:-1;
  }

  &:after {
    content: "";
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    border: dashed 1px gray;
    z-index:-1;
  }
}




@media (min-width: 240px) {
  :root {
    --page-grid-gutter-y: 1rem;
    --page-grid-gutter-x: 1rem;
    --page-grid-gap: 0.5rem;
  }

  section {
    --page-grid-rows: var(--xs-rows);
  }
}

@media (min-width: 480px) {
  :root {
    --page-grid-gutter-y: 1vh;
    --page-grid-gutter-x: 2.5vw;
    --page-grid-gap: 0.5rem;
  }

  section {
    --page-grid-rows: var(--sm-rows, var(--xs-rows));
  }
}

@media (min-width: 768px) {
  :root {
    --page-grid-gutter-y: 1vh;
    --page-grid-gutter-x: 5vw;
    --page-grid-gap: 0.5rem;
  }

  section {
    --page-grid-rows: var(--md-rows, var(--sm-rows, var(--xs-rows)));
  }
}

@media (min-width: 1024px) {
  :root {
    --page-grid-gutter-y: 1vh;
    --page-grid-gutter-x: 7.5vw;
    --page-grid-gap: 0.5rem;
  }

  section {
    --page-grid-rows: var(--lg-rows, var(--md-rows, var(--sm-rows, var(--xs-rows))));
  }
}

@media (min-width: 1440px) {
  :root {
    --page-grid-gutter-y: 1vh;
    --page-grid-gutter-x: calc((100vw - 1440px) / 2);
    --page-grid-gap: 0.5rem;
  }

  section {
    --page-grid-rows: var(--xl-rows, var(--lg-rows, var(--md-rows, var(--sm-rows, var(--xs-rows)))));
  }
}

@media (min-width: 1920px) {
  :root {
    --page-grid-gutter-y: 1vh;
    --page-grid-gutter-x: calc((100vw - 1520px)/2);
    --page-grid-gap: 0.5rem;
  }

  section {
    --page-grid-rows: var(--xxl-rows, var(--xl-rows, var(--lg-rows, var(--md-rows, var(--sm-rows, var(--xs-rows))))));
  }
}